<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plane.sincer.mapper.EquipPdStatusMapper">

    <resultMap id="BaseResultMap" type="com.plane.sincer.entity.EquipPdStatus">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="equipStatusId" column="equip_status_id" jdbcType="INTEGER"/>
            <result property="equipPdRecordId" column="equip_pd_record_id" jdbcType="INTEGER"/>
            <result property="useTime" column="use_time" jdbcType="TIMESTAMP"/>
            <result property="operaId" column="opera_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,equip_status_id,equip_pd_record_id,
        use_time,opera_id,create_time,
        update_time,remark
    </sql>
</mapper>
