<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plane.sincer.mapper.EquipMapper">

    <resultMap id="BaseResultMap" type="com.plane.sincer.entity.Equip">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="pdCode" column="pd_code" jdbcType="VARCHAR"/>
            <result property="mouldId" column="mould_id" jdbcType="INTEGER"/>
            <result property="planOp" column="plan_op" jdbcType="INTEGER"/>
            <result property="realOp" column="real_op" jdbcType="INTEGER"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="qcTime" column="qc_time" jdbcType="TIMESTAMP"/>
            <result property="statusId" column="status_id" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pd_code,mould_id,
        plan_op,real_op,start_time,
        end_time,qc_time,status_id,
        remark
    </sql>
</mapper>
